.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin-top: 5%;
}

.container_entire {
    width: 300px;
    background-color: white;
    margin: auto;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    font-weight: 700;
    padding: 0 15px;
    color: hsl(218, 44%, 22%)
}

p {
    font-weight: 400;
    padding: 0 15px;
    padding-bottom: 20px;
    color: hsl(220, 15%, 55%);
}

img {
    border-radius: 10px;
    width: 270px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.img_container {
    margin-top: 15px
}
